@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

body {
    /* background image from: https://www.toptal.com/designers/subtlepatterns/ */
    /* background-image: url("img/body_background.png"); */
    background-color: #FFFFFA;
    /* background-repeat: repeat; */
    /* no-repeat; repeat-x; repeat-y */
    /* background-attachment: fixed; */
    /* scroll */
    padding-top: 60px;
    overflow-x:hidden; /* to remove bottom scroll bar */
    margin: 0 !important;
    /* zeruje defaultowy margin przeglądarki */
    font-family: 'Josefin Sans', sans-serif; /* nunito albo Open Sans*/
    font-size: 17px;
    /*color: #efefef;*/
    text-align: center;
}

/* quotation */
.bg-myQuotationColor
{
    background-color: #c0d06f !important; 
}

main 
{         
    text-align: center;
}

/* responsive background-image for every subpage */
.masthead {
    background-size: cover;
    min-height: 620px; /* było 70 vh */
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
    border-radius: 10px;
}

/* features added to masthead (text, opacity...) */
.color-overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

/* for motto beneath masthead */

.myHeader
{
    background-color: #C0D06F; /* było: #FFF5EE; */
    border: 1px solid #C0D06F;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 1px) and (max-width: 768px) {
    .myHeader
    {
        max-height: 95px;
    }
    .myHeader p 
    {
        font-size: 12px !important;
    }
    .myHeader h1 
    {
        font-size: 20px !important;
    }
}

/* for quotation */
.myAside
{
    border-radius: 10px;
    font-size: 16px;
}
@media (min-width: 1px) and (max-width: 768px) {
    .myAside 
    {
        font-size: 13px;
    }
}

/* in the showcase */
h1 
{
    font-size: 4rem;
    color: #C0D06F;
}

/* elsewhere */
h1.regular {
    font-size: 40px;
    font-weight: 400;
    color: #b0c05d; /* było: #C0D06F */ 
    margin-top: 15px;
    margin-bottom: 5px;
}

/* in the showcase */
p
{
    font-size: 30px;
    color: white;

}

/* elsewhere */
p.regular
{
    font-size: 16px;
    color: black;
    margin-top: 5px;
}

p.myTextJustify
{
    text-align: justify;
}

/* do opisów w skillach */
@media (max-width: 575px)
{
    p.myTextJustify
    {
        margin: 40px 20px;
        text-align: left;
    }
    footer {
        font-size: 14px;
    }
}

@media (min-width: 50px) and (max-width: 330px) {
    .masthead {
        min-height: 140px;
    }
    h1 {
        font-size: 28px;
    }
    p {
        font-size: 18px;
    }
    h1.regular {
        font-size: 25px;
    }
    p.regular {
        font-size: 12px;
    }
}
@media (min-width: 331px) and (max-width: 475px) {
    .masthead {
        min-height: 200px;
    }
    h1 {
        font-size: 32px; 
    }
    p {
        font-size: 22px;
    }
    h1.regular {
        font-size: 25px;
    }
    p.regular {
        font-size: 12px;
    }
}

@media (min-width: 476px) and (max-width: 767px) {
    .masthead {
        min-height: 240px;
    }
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 26px;
    }
    h1.regular {
        font-size: 25px;
    }
    p.regular {
        font-size: 15px;
    }/* do opisów w skillach */
@media (max-width: 575px)
{
    p.myTextJustify
    {
        margin: 40px 20px;
        text-align: left;
    }
    footer {
        font-size: 14px;
    }
}

@media (min-width: 50px) and (max-width: 330px) {
    .masthead {
        min-height: 140px;
    }
    h1 {
        font-size: 28px;
    }
    p {
        font-size: 18px;
    }
    h1.regular {
        font-size: 25px;
    }
    p.regular {
        font-size: 12px;
    }
}
@media (min-width: 331px) and (max-width: 475px) {
    .masthead {
        min-height: 200px;
    }
    h1 {
        font-size: 32px; 
    }
    p {
        font-size: 22px;
    }
    h1.regular {
        font-size: 25px;
    }
    p.regular {
        font-size: 12px;
    }
}

@media (min-width: 476px) and (max-width: 767px) {
    .masthead {
        min-height: 240px;
    }
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 26px;
    }
    h1.regular {
        font-size: 25px;
    }
    p.regular {
        font-size: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .masthead {
        min-height: 330px;
    }
    h1 {
        font-size: calc(1.525rem + 3.3vw);
    }
    p {
        font-size: calc(0.525rem + 3.3vw);
    }
        h1.regular {
        font-size: 25px;
    }
    p.regular {
        font-size: 15px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .masthead {
        min-height: 460px;
    }
    h1 {
        font-size: calc(1.525rem + 3.3vw);
    }
    p {
        font-size: calc(0.525rem + 3.3vw);
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .masthead {
        min-height: 580px;
    }
    h1 {
        font-size: calc(1.525rem + 3.3vw);
    }
    p {
        font-size: calc(0.525rem + 3.3vw);
    }
}
}

@media (min-width: 768px) and (max-width: 991px) {
    .masthead {
        min-height: 330px;
    }
    h1 {
        font-size: calc(1.525rem + 3.3vw);
    }
    p {
        font-size: calc(0.525rem + 3.3vw);
    }
        h1.regular {
        font-size: 25px;
    }
    p.regular {
        font-size: 15px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .masthead {
        min-height: 460px;
    }
    h1 {
        font-size: calc(1.525rem + 3.3vw);
    }
    p {
        font-size: calc(0.525rem + 3.3vw);
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .masthead {
        min-height: 580px;
    }
    h1 {
        font-size: calc(1.525rem + 2.3vw);
    }
    p {
        font-size: calc(0.525rem + 2.3vw);
    }
}


/* PHOTO SECTION */

.leisurePhotos {
    /* margin-left: auto; margin-right: auto; width: 1100px; padding: 0; not necessary because of bootstrap */
    text-align: center;
}

.leisurePhotos img
/* można też użyć class="img-fluid" wewnątrz <img> w html */
{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.leisurePhotos p {
    margin-bottom: 30px;
}

.leisurePhotos figcaption {
    margin-top: 8px;
    text-align: center;
}

.jqButton
{   
    position: relative;
    float: right;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    border-radius: 3px;
}

/* NAVBAR SECTION */

/* for navbar & footer */
.bg-myNavColor
{
    background-color: #0284c7!important; /* dodgerblue */
}

.dropdown-menu
{
    background-color: snow;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

/* hover ma rozwijac dropdown-menu, ktore defaultowo ma nadany display:none */
/* niestety submenu po kliknięciu pozostaje rozwinięte */
/* 
.navbar-nav li:hover > .dropdown-menu 
{
    display: block;
}
*/

/* chyba niepotrzebne, wypróbować bez tego, bo nie jestem pewien */
.navbar
{
    min-height: 57px;
    max-height: 66px;
}

/* czcionka list itemów w głównej nawigacji navbar */
.mainMenu
{
    font-size: 20px;
/*    text-align: left!important;*/
    background: #0284c7;
    margin-left: -21px;
}

/* czcionka dla sub-list-itemów w głównej nawigacji navbar */
#dropMenu
{
    font-size: 18px;
    padding: 8px;
    text-align: center;
}

/* elementy listy głównej */
.nav-item
{
    padding: 0px 2px 0 2px;
}
.nav-item:hover
{
    border-bottom: 0 dotted white;
}

/* --- JAVA SCRIPTS SECTION --- */

/*
.accordion (for general background)
{
    background-color: 	gainsboro;
}
*/

.accordionJavaScriptButton /* style of closed button */
{
    background-color: #c0d06f !important;
    font-size: 20px !important;
    border-radius: 15px !important;
}

.accordionJavaScriptButton:hover /* style of closed button */
{
    background-color: #b0c05e !important;
}

.accordionJavaScriptButton:not(.collapsed) /* style of opened button */
{
    background-color: #c0d06f !important;
    font-size: 20px !important;
    color: black !important;
}

/* accordion button icon when closed */
.accordionJavaScriptButton.collapsed::after 
{
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    transform: scale(.9) !important;
}
/* accordion button icon when opened */
.accordionJavaScriptButton:not(.collapsed)::after 
{
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  
}

.accordion-item /* background for opened div */
{
    background-color: #fff9bb; /* palegoldenrod */
    border-radius: 15px !important;
}

/* --- ACCORDION TESTING SECTION --- */
/*
.accordion (for general background)
{
    background-color: 	gainsboro;
}
*/

@media (min-width: 1px) and (max-width: 440px) {
    .bookOnTesting 
    {
        width:60px;
        height: 90px;
    }

}

.accordionTestingButton /* style of closed button */
{
    background-color: #E9967A !important;
    font-size: 20px !important;
    border-radius: 15px !important;
}

.accordionTestingButton:hover
{
    background-color: tomato !important;
    font-size: 20px !important;
}

.accordionTestingButton:not(.collapsed) /* style of opened button */
{
    background-color: #E9967A !important;
    font-size: 20px !important;
    color: black !important;
}
.accordionTestingButton:not(.collapsed):hover
{
    background-color: tomato !important;
    font-size: 20px !important;
    color: black !important;
}

/* accordion button icon when closed */
.accordionTestingButton.collapsed::after 
{
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    transform: scale(.9) !important;
}
/* accordion button icon when opened */
.accordionTestingButton:not(.collapsed)::after 
{
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  
}

.accordionTestingItem /* background for opened div */
{
    background-color: #89CFF0; 
}

.accordionTestingFieldset
{
    background-color: #B9D9EB;
}

/* source code in pre */
.sourceCodeClipboard
{
    font-size: 14px;
}

@media (min-width: 50px) and (max-width: 330px) {
    .sourceCodeClipboard
    {
        font-size: 4px;
    }
}
@media (min-width: 331px) and (max-width: 574px) {
    .sourceCodeClipboard
    {
        font-size: 8px;
    }
}

@media (min-width: 50px) and (max-width: 575px) {
    p.sourceCode
    {
        font-size: 9px;
    }
}
@media (min-width: 575px) and (max-width: 991px) {
    .sourceCodeClipboard
    {
        font-size: 11px;
    }
    p.sourceCode
    {
        font-size: 14px;
    }
}

/* for every accordion button */
@media (min-width: 1px) and (max-width: 991px) {
    .accordion-item button
    {
        font-size: 15px !important;
    }
    .accordion-item button:hover
    {
        font-size: 15px !important;
    }
    .accordion-item button:not(.collapsed)
    {
        font-size: 15px !important;
    }
    .accordionTestingButton:not(.collapsed):hover
    {
        font-size: 15px !important;
    }
}


/* ---- ACCORDION HARDSKILLS SECTION ----- */
/*
.accordion (for general background)
{
    background-color: 	gainsboro;
}
*/

.hardskillsList
{
    list-style: none;
    text-align: left;
}

/* icona w accordion-body dla hardskilla */
.hardskillIcon
{
    width: 55px;
}

.hardskillParagraph
{
    width: 90%;
    margin-left: auto !important;
    margin-right: auto !important;
}

/* zmniejszenie paddingu na niskich rozdzielczościach */
@media (min-width: 1px) and (max-width: 390px) {
    .accordion-body
    {
        padding: 0;
        margin: 0;
    }
}

.accordionHardskillsButton /* style of closed button */
{
    background-color: lightgrey !important;
    font-size: 20px !important;
    border-radius: 15px !important;
}

.accordionHardskillsButton:hover /* style of button hovered */
{
    background-color: silver !important;
    font-size: 20px !important;
}

.accordionHardskillsButton:not(.collapsed) /* style of opened button */
{
    background-color: lightgrey !important;
    font-size: 20px !important;
    color: black !important;
}

/* accordion button icon when closed */
.accordionHardskillsButton.collapsed::after 
{
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    transform: scale(.9) !important;
}
/* accordion button icon when opened */
.accordionHardskillsButton:not(.collapsed)::after 
{
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  
}

.accordionHardskillsItem /* background for opened div */
{
    background-color: #F0F0F0; /* palegoldenrod */
    border-radius: 15px !important;
}

.sourceCodeHardSkills
{
    font-family: Courier New;
    text-align: left!important;
}

@media (min-width: 50px) and (max-width: 350px) {
    .sourceCodeHardSkills
    {
    font-size: 10px;
    padding: 10px;
    
    }
}

@media (min-width: 351px) and (max-width: 575px) {
    .sourceCodeHardSkills
    {
    font-size: 12px;
    padding: 10px;
    
    }
}



/* --- LEGALITY CHECKER SECTION -- */
/* zwykły button */
.bg-button
{
    background: lightgreen;
    font-size: 1.1rem;
    border-radius: 12px;
    transition: 0.3s background-color;
}
    
/* zwykły button active */
.bg-button:active
{
    background: limegreen!important;
}   

/* zwykły button hover */
.bg-button:hover
{
    background: limegreen;
}

/* fieldset */
fieldset
{
background-color: khaki; 
}

/* nazwy krajów w zestawie radio buttonów LegalityChecker */
#radioLabel1, #radioLabel2, #radioLabel3, #radioLabel4, #radioLabel5, #radioLabel6 
{
    font-size: 21px;
}

/* tabela oraz jej zmniejszenie dla urządzenia mobilnego */
table
{
    font-size:21px;
    text-align: left;
}

@media (min-width: 50px) and (max-width: 575px) {
    table
    {
        font-size: 16px;
    }
}

/* kolory łapek bootstrapowych */
.icon-green{
    color: green;
}
.icon-red{
    color: red;
}

/* hover na wiersze tabeli */
table tr:hover td
{
    background-color: orange; 
}

/* ------------------- index tiles section --------------- */

/* kafelek menu */
.menuTile
{
    width: 180px; /*or any width you like, but it must be defined*/
    height: 180px; /*or any height you like */
    background-color: #FFF5EE; 
    background-size: cover /*very important as it covers the element within the defined width x height*/;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 8px;
    display: block;
    border: 1px solid #C0D06F; 
}

/* stylizacja poszczególnych dzieci menuTile */
.menuTile a
{
    display: block;
    width: 180px;
    height: 180px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    padding-top: 15px;
}

.menuTile a:hover
{
    background-color: #E9DCC9!important;  
    cursor: pointer;
    transform: scale(1.03);
    border-radius: 8px;
    border: 1px solid #C0D06F !important;
}

.menuTile h3
{
   padding-top: 1px; 
   font-size: 22px;
}
.menuTile p
{
   font-size: 13px;
   color: black;
   padding-left: 5px;
   padding-right: 5px;
}
.menuTile i
{
    color: black;
    font-size: 35px;
}

/* opisy Description, Explanation, Motivation, Activation */
.descriptionHome
{
    padding-left: 40px;
    padding-right: 40px;
}

@media (min-width: 50px) and (max-width: 575px) {
    .menuTile
    {
    width: 130px; 
    height: 130px; 
    }
    .menuTile a
    {
    width: 130px;
    height: 130px;
    }
    .menuTile h3 
    { 
       font-size: 15px;
    }  
    .menuTile h5 
    { 
       font-size: 15px;
    }
    .menuTile p
    {
       font-size: 10px;
    }
    .menuTile i
    {
        font-size: 22px;
    }
}
@media (min-width: 576px) and (max-width: 1202px) {
    .menuTile
    {
    width: 160px; 
    height: 160px; 
    }
    .menuTile a
    {
    width: 160px;
    height: 160px;
    }
    .menuTile h3 
    { 
       font-size: 18px;
    }  
    .menuTile h5 
    { 
       font-size: 18px;
    }
    .menuTile p
    {
       font-size: 13px;
    }
    .menuTile i
    {
        font-size: 24px;
    }
}

/* ------------ FOOTER ------------------- */
footer
{
    color: white;
}

/* ------------ soft skills section --------*/
/* cała sekcja, żeby był flexbox */
/* musi to zostać, bo inaczej mi kolor znika... */
.softSkillSection
{
    margin: 0px;
}

/* div opisowy */
.softSkillsDes
{
    background-color: #F0F0F0;
    border: 1px solid;
    border-radius: 15px;
    min-height: 300px;
}
/* div card */
.softSkillsCard
{
    background-color: #F0F0F0;
    width: 190px;
    max-height: 300px;
    border-radius: 15px;
    border: 1px solid;
}
/* karta z obrazkiem */
.softSkillsImageDiv
{
    height: 138px;
    margin-bottom: 10px;
    background-color: silver; /* #C0D06F; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
/* obrazek */
.softSkillsImage
{
    height: 140px;
    border-radius: 70px;
    background-size: cover;
    height: 130px;
    margin-bottom: 15px;
    padding: 1px;   
}

.softSkillsCard h1
{
    margin-bottom: 1px;
}

.softSkillsCard h3
{
    font-size: 20px;
    color: #C0D06F;
}

.softSkillsCard p
{
    font-size: 12px;
    color: black;
    margin-bottom: 2px;
}

@media (min-width: 1px) and (max-width: 300px) {
    .softSkillsDes p
    {
        font-size: 10px;
    }
    .softSkillsDes h1
    {
        font-size: 12px;
    }
    .softSkillsDes h5
    {
        font-size: 10px;
    }
}

@media (min-width: 301px) and (max-width: 991px) {
    .softSkillsDes p
    {
        font-size: 14px;
    }
    .softSkillsDes h1
    {
        font-size: 20px;
    }
      .softSkillsDes h5
    {
        font-size: 16px;
    }
}

/* empty div - na kreskę */
hr
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* -------------- TESTING SECTION --------------------------*/
.userStoryDiv
{
    background-color: #89CFF0;
    border-radius: 15px;
}

.userStoryText
{
    background-color: lemonchiffon;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
}

@media (min-width: 769px) {
    .userStoryDiv
    {
        display: flex;
    }
}

/* ------------ */

@media (min-width: 1px) and (max-width: 300px) {
    .userStory h6
    {
        font-size: 10px;
    }
}
@media (min-width: 301px) and (max-width: 991px) {
    .userStory h6
    {
        font-size: 16px;
    }
}

/* kod js w Cypress */
.automationTest
{
    text-align: left !important;
}

/* powiększanie zdjęć */
.enlargePhoto
{
    cursor: zoom-in;
    transition: transform 0.55s ease;
}

.enlargePhoto:hover {
    -webkit-transform: scale(1.75); /* było 2.05 */ 
    transform: scale(1.75); /* było 2.05 */ 
}

@media (min-width: 1px) and (max-width: 767px) {
    .enlargePhoto
    {
        cursor: default;
    }
    .enlargePhoto:hover
    {
        -webkit-transform:scale(1); 
        transform:scale(1);
    }
}
@media (min-width: 767px) and (max-width: 991px) {
    .enlargePhoto
    {
        cursor: default;
    }
    .enlargePhoto:hover
    {
        -webkit-transform:scale(1.75); 
        transform:scale(1.75);
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .enlargePhoto
    {
        cursor: default;
    }
    .enlargePhoto:hover
    {
        -webkit-transform:scale(1.95); 
        transform:scale(1.95);
    }
}

/* -------------- SERVER-SIDE SECTION --------------------------*/
@media (min-width: 1px) and (max-width: 300px) {
    .serverStep h6
    {
        font-size: 10px;
    }
}
@media (min-width: 301px) and (max-width: 991px) {
    .serverStep h6
    {
        font-size: 16px;
    }
}

/* ------------- CAROUSEL SECTION FOR BIRD APP ------*/
/* only for radio button in birdRecognizer */
.divBirdRadioButtons input[type="radio"]{
  margin: 0 0 18px 0;
}

/* wrapper for a radiobutton + label to align properly */
.divBirdRadioButton
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* wrapper for all radiobuttons + labels to align properly */
.divBirdRadioButtons
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* carousel-items and carousel-container for BIRD RECOGNIZER */
.birdCarousel
{
    height: 42rem;
    background: khaki;
    padding-top: 0;
    
}

/* .carousel-container
{
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
} */

@media (min-width: 351px) and (max-width: 991px) {
    .birdCarousel
    {
        height: 38rem;
        font-size: 12px;
    }
}

@media (min-width: 1px) and (max-width: 350px) {
    .birdCarousel
    {
        height: 38rem;
        font-size: 9px;
    }
}

/* ----------- carousel for LIFECYCLE & MANIFESTO (HOME PAGE) -------*/

.divCarousel 
{
    margin-left: 250px;
    margin-right: 250px;
}

.indexCarouselLifecycle
{
    width: 70%;
    margin: auto;
    height: auto;
}

.indexCarouselManifesto
{
    height: auto;
    width: 70%;
    margin: auto;
}

.indexCarouselTesting
{
    height: auto;
    width: 70%;
    margin: auto;
}

/* only for non-active items with more content */
/* .lifecycleItem
{
    height: 540px;
}
.manifestoItem
{
    height: 440px;
}
.testingItem
{
    height: 540px;
} */

.carouselPhoto
{
    border-radius: 10px;
}

/* next - previous buttons */
.carouselButton
{
    position: absolute;
    top: 0;
    bottom: auto;

}
/* div containing all the items + carousel next - prev buttons */
.carouselPosition
{
    position: relative;
}

@media (min-width: 1px) and (max-width: 330px) {
    .divCarousel 
    {
        margin-left: 0px;
        margin-right: 0px;
    }
    .divCarousel h5
    {
        font-size: 16px;
    }
    .divCarousel figcaption
    {
        font-size: 12px;
    }
    .divCarousel p
    {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 12px;
        margin-top: 25px;
    }
    .lifecycleItem
    {
    height: 380px;
    }
    .manifestoItem
    {
    height: 340px;
    }
    .testingItem
    {
    height: 340px;
    }
}
@media (min-width: 331px) and (max-width: 434px) {
    .divCarousel 
    {
        margin-left: 0px;
        margin-right: 0px;
    }
    .divCarousel p
    {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 12px;
        margin-top: 25px;
    }
    .divCarousel h5
    {
        font-size: 18px;
    }
    .divCarousel figcaption
    {
        font-size: 12px;
    }
    .lifecycleItem
    {
    height: 380px;
    }
    .manifestoItem
    {
    height: 300px;
    }
    .testingItem
    {
    height: 330px;
    }
    
}
@media (min-width: 435px) and (max-width: 575px) {
    .divCarousel 
    {
        margin-left: 0px;
        margin-right: 0px;
    }
    .divCarousel p
    {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 12px;
        margin-top: 25px;
    }
    .divCarousel figcaption
    {
        font-size: 12px;
    }
    .lifecycleItem
    {
    height: 390px;
    }
    .manifestoItem
    {
    height: 370px;
    }
    .testingItem
    {
    height: 320px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .divCarousel 
    {
        margin-left: 5px;
        margin-right: 5px;
    }
    .divCarousel p
    {
        padding-left: 10px;
        padding-right: 10px;
    }
    .divCarousel figcaption
    {
        font-size: 12px;
    }
    .lifecycleItem
    {
    height: 400px;
    }
    .manifestoItem
    {
    height: 400px;
    }
    .testingItem
    {
    height: 300px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .divCarousel 
    {
        margin-left: 60px;
        margin-right: 60px;
    }
    .lifecycleItem
    {
    height: 510px;
    }
    .manifestoItem
    {
    height: 420px;
    }
    .testingItem
    {
    height: 420px;
    }
}
@media (min-width: 992px) and (max-width: 1600px) {
    .divCarousel 
    {
        margin-left: 170px;
        margin-right: 170px;
    }
    .lifecycleItem
    {
    height: 540px;
    }
    .manifestoItem
    {
    height: 420px;
    }
    .testingItem
    {
    height: 420px;
    }
}

/* -------------- DESIGN SECTION ---------------- */

.iframeDiv {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 60%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625)*/
  }
  
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;
  }

/* -------------- IMPLEMENTATION SECTION ---------------- */
.experienceStep
{
    max-width: 600px;
    margin-bottom: 30px;
    position: relative;
}

.experienceIconLeft
{
    position: absolute;
    top: 32px;
    left: 40px;
    font-size: 27px;
}

.experienceIconLeft2
{
    position: absolute;
    top: 32px;
    left: 69px;
    font-size: 27px;
}
/* .experienceIconRight
{
    position: absolute;
    top: 38px;
    right: 60px;
    font-size: 27px;
} */

@media (min-width: 1px) and (max-width: 500px) {
    .experienceIconLeft,
    .experienceIconLeft2
    {
        font-size: 18px;
    }
}


  /* --------------- CONTACT SECTION ---------------*/
#myForm {

    box-sizing: border-box;
    margin: 4rem auto;
    margin-top: 2rem;
    max-width: 25rem;
}

#myForm input,
#myForm textarea {
    padding: 0.4rem;
    border: 1px solid #bbb;
    display: block;
    width: 100%;
    color: #666;
}

#myForm label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    margin-top: 0.7rem;
}
@media (min-width: 1px) and (max-width: 500px) {
    #myForm
    {
        width: 80%;
    }
}

#confirmationSpan
{
    font-size: 25px;
    color: blue;
}
@media (min-width: 400px) and (max-width: 500px) {
    #confirmationSpan
    {
        font-size: 18px;
    }
}
@media (min-width: 1px) and (max-width: 399px) {
    #confirmationSpan
    {
        font-size: 16px;
    }
}

/* ----------- ELEMENT MIXER -------------- */
.periodicTable
{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

#alchemyButton[disabled]
{
    background-color: grey;
}

.alchemyFieldset
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/* każdy pierwiastek */
.elementItem
{
    display: block;
    box-sizing: border-box;
    border: 1px solid grey; /* było "none" */
    border-radius: 4px;
    width: 50px;
    height: 70px;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .elementItem:hover
{
    background-color: lightgrey !important;
} */

/* pierwiastki główne */
.elementMaster
{
    border: 1px solid grey; /* było "red" */
}
.elementMaster:hover
{
    background-color: red !important;
}

/* pierwiastki pomocnicze */
.elementPartner
{
    border: 1px solid grey; /* było "none" */
}

/* pusty div */
.elementItemX
{
    display: block;
    border: none;
    border-radius: 4px;
    width: 50px;
    height: 70px;
    padding: 1px;
}
.elementItemX:hover
{
    background-color: #fff9bb !important; 
}

.elementAbbreviation
{
    font-size: 18px;
}

@media (min-width: 1px) and (max-width: 450px) {
    .alchemyFieldset
    {
        width: 90%;
    }
    .elementAbbreviation
    {
        font-size: 8px;
    }
    .elementItem
    {
        width: 17px;
        height: 23px;
        font-size: 3px;
    }
}
@media (min-width: 451px) and (max-width: 767px) {
    .alchemyFieldset
    {
        width: 90%;
    }
    .elementAbbreviation
    {
        font-size: 12px;
    }
    .elementItem
    {
        width: 20px;
        height: 30px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .elementItem
    {
        width: 30px;
        height: 45px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .elementItem
    {
        width: 40px;
        height: 65px;
    }
}


 









