<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<h3> Stworzymy przedział z podanych przez Użytkownika liczb całkowitych </h3>
	
	<script type="text/javascript">
	
		function writeout()
		{
			var integer1 = document.getElementById("integer1").value;
			var integer2 = document.getElementById("integer2").value;
			var text = "";
				
				for (i=integer1; i<=integer2; i++)
				{
					text = text + i + " ";
				}
				document.getElementById("string").innerHTML = text;
			}
	
	</script>
</head>

<body>

	<input type="text" id="integer1" />
	<input type="text" id="integer2" />
	<input type="submit" value="display" onclick="writeout()"/>
	
	<div id="string">w to miejsce i tak wskoczy wynik ifa</div>

</body>

</html>