@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?52456793');
  src: url('../font/fontello.eot?52456793#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?52456793') format('woff2'),
       url('../font/fontello.woff?52456793') format('woff'),
       url('../font/fontello.ttf?52456793') format('truetype'),
       url('../font/fontello.svg?52456793#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?52456793#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-login:before { content: '\e800'; } /* '' */
.icon-emo-wink:before { content: '\e801'; } /* '' */
.icon-emo-unhappy:before { content: '\e802'; } /* '' */
.icon-music:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; font-size: 44px; margin: 12px; text-align: center; } /* '' */
.icon-heart:before { content: '\e805'; } /* '' */
.icon-heart-empty:before { content: '\e806'; } /* '' */
.icon-star:before { content: '\e807'; } /* '' */
.icon-star-empty:before { content: '\e808'; } /* '' */
.icon-user:before { content: '\e809'; } /* '' */
.icon-glass:before { content: '\e80a'; } /* '' */
.icon-videocam:before { content: '\e80b'; } /* '' */
.icon-camera:before { content: '\e80c'; } /* '' */
.icon-picture:before { content: '\e80d'; } /* '' */
.icon-ok:before { content: '\e80e'; } /* '' */
.icon-cancel:before { content: '\e80f'; } /* '' */
.icon-cancel-circled:before { content: '\e810'; } /* '' */
.icon-home:before { content: '\e811'; } /* '' */
.icon-attach:before { content: '\e812'; } /* '' */
.icon-lock:before { content: '\e813'; } /* '' */
.icon-lock-open:before { content: '\e814'; } /* '' */
.icon-pin:before { content: '\e815'; } /* '' */
.icon-tag:before { content: '\e816'; } /* '' */
.icon-tags:before { content: '\e817'; } /* '' */
.icon-bookmark:before { content: '\e818'; } /* '' */
.icon-flag:before { content: '\e819'; } /* '' */
.icon-thumbs-up:before { content: '\e81a'; } /* '' */
.icon-thumbs-down:before { content: '\e81b'; } /* '' */
.icon-forward:before { content: '\e81c'; } /* '' */
.icon-pencil:before { content: '\e81d'; } /* '' */
.icon-print:before { content: '\e81e'; } /* '' */
.icon-comment:before { content: '\e81f'; } /* '' */
.icon-bell:before { content: '\e820'; } /* '' */
.icon-trash-empty:before { content: '\e821'; } /* '' */
.icon-doc:before { content: '\e822'; } /* '' */
.icon-folder:before { content: '\e823'; } /* '' */
.icon-folder-open:before { content: '\e824'; } /* '' */
.icon-phone:before { content: '\e825'; font-size: 48px; margin: 12px; text-align: center; } /* '' */
.icon-wrench:before { content: '\e826'; } /* '' */
.icon-basket:before { content: '\e827'; } /* '' */
.icon-calendar:before { content: '\e828'; } /* '' */
.icon-volume-off:before { content: '\e829'; } /* '' */
.icon-volume-up:before { content: '\e82a'; } /* '' */
.icon-clock:before { content: '\e82b'; } /* '' */
.icon-down-dir:before { content: '\e82c'; } /* '' */
.icon-up-dir:before { content: '\e82d'; } /* '' */
.icon-left-dir:before { content: '\e82e'; } /* '' */
.icon-right-dir:before { content: '\e82f'; } /* '' */
.icon-cw:before { content: '\e830'; } /* '' */
.icon-ccw:before { content: '\e831'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-play:before { content: '\e833'; } /* '' */
.icon-flash:before { content: '\e834'; } /* '' */
.icon-graduation-cap-1:before { content: '\e835'; } /* '' */
.icon-adult:before { content: '\e836'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; font-size: 48px; margin: 12px; text-align: center; color: white; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-github-circled-1:before { content: '\f09b'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; font-size: 15px; text-align: center; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-flag-empty:before { content: '\f11d'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-mute:before { content: '\f131'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-git-squared:before { content: '\f1d2'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-binoculars:before { content: '\f1e5'; } /* '' */
.icon-bell-off:before { content: '\f1f6'; } /* '' */
.icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-bicycle:before { content: '\f206'; } /* '' */
.icon-venus:before { content: '\f221'; } /* '' */
.icon-mars:before { content: '\f222'; } /* '' */
.icon-whatsapp:before { content: '\f232'; font-size: 48px; margin: 12px; text-align: center; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-battery-4:before { content: '\f240'; } /* '' */
.icon-battery-3:before { content: '\f241'; } /* '' */
.icon-battery-2:before { content: '\f242'; } /* '' */
.icon-battery-1:before { content: '\f243'; } /* '' */
.icon-battery-0:before { content: '\f244'; } /* '' */
.icon-usb:before { content: '\f287'; } /* '' */
.icon-bluetooth:before { content: '\f293'; } /* '' */
.icon-bluetooth-b:before { content: '\f294'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-linkedin-1:before { content: '\f31a'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; font-size: 48px; margin: 12px; text-align: center; } /* '' */
