body
{
	background-color: snow;
	font-family: Verdana;
	font-size: 20px;
	color: black;
}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#logo
{
	background-color: lightslategray;
	color: white;
	text-align: center;
	padding: 15px;
	font-size: 15px;
}
#nav
{
	float: left;
	background-color: lightskyblue;
	font-size: 15px;
	width: 120px;
	min-height: 620px;
	padding: 10px;
}
#content
{
	float: left;
	padding: 20px;
	width: 640px;
}
#ad
{
	float: left;
	width: 160px;
	min-height: 620px;
	padding: 10px;
	background-color: lightskyblue;
}
#footer
{
	clear: both;
	background-color: lightslategray;
	color: white;
	text-align: center;
	padding: 20px;
}	

/* różne linki - nieodwiedzony, odwiedzony i najechany */
a:link
{
	color: cyan;
}

a:visited
{
	color: darkorange;
}

a:hover
{
	color: crimson;
}
