body
{
	background-color: snow;
	font-family: 'Josefin Sans', sans-serif;
	color: black;
}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#logo
{
	background-color: lightslategray;
	color: white;
	text-align: center;
	padding: 15px;
	font-size: 15px;
}

#topbar
{
	background-color: lightskyblue;
	color: white;
	height: 30px;
	text-align: center;	
}

#nav
{
	float: left;
	background-color: dodgerblue;
	font-size: 15px;
	width: 160px;
	min-height: 800px;
	padding: 10px;
}

/* display, text-decoration i box-sizing po to, aby z całego diva zrobić link */
.tile-left
{
	background-color: aquamarine;
	margin: 10px;
	height: 40px;
	padding: 5px;
	cursor: pointer;
	border-radius: 6px;
	
	display: block;
	text-decoration: none;
	box-sizing: border-box;
}

.tile-left:hover
{
	background-color: darksalmon;
}


#content
{
	float: left;
	padding: 20px;
	width: 680px;
	text-align: justify;
}

#clock
{
	float: left;
	width: 80px;
	background-color: aquamarine;
	padding: 10px;
	text-align: center;
}
#ad
{
	float: left;
	width: 80px;
	min-height: 800px;
	padding: 10px;
	background-color: dodgerblue;
}

.tile-right
{
	background-color: deepskyblue;
	height: 70px;
	margin: 5px;
	margin-bottom: 10px;
	cursor: pointer;
	border-radius: 6px;
	display: block;
	text-decoration: none;
	box-sizing: border-box;
}

#footer
{
	clear: both;
	background-color: lightslategray;
	color: white;
	text-align: center;
	padding: 20px;
}	

/* różne linki - nieodwiedzony, odwiedzony i najechany */
a:link
{
	color: black;
}

a:visited
{
	color: black;
}

a:hover
{
	color: black;
}
