/*
selectors:
* (dla całej zawartości html)
body (dla całej sekcji body strony)
p, h1-h6 (tylko dla paragrafów i/lub nagłówków)
# (dla ID danego elementu, id="text")
. (dla klasy danych elementów, class="group")
p.group (tylko dla paragrafów z klasy "group")
*/

body
{
	background-image: url("img/background.jpg");
    background-repeat: no-repeat; /* or repeat-x; repeat-y */
    background-attachment: fixed; /* or scroll */
    background-size:2200px 1100px;
	opacity: 0.9;
	font-family: 'Josefin Sans', sans-serif;
	color: black;
	margin: 0px;
}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#logo
{
	background-color: rgb(119, 136, 153, 0.8); /* #778899; lightslategray; */
	border-bottom: 2px solid gray;
	color: white;
	text-align: center;
	padding: 15px 0px 15px 0px;    /* góra, prawo, dół, lewo: zgodnie z ruchem zegara po układzie kartezjańskim */
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 900;
	text-transform: uppercase;
	text-shadow: /* najpierw ćwiartka kartezjańska x2, potem blur, potem kolor */
	1px 1px 0 grey,
	-1px 1px 0 grey,
	-1px -1px 0 grey,
	1px -1px 0 grey;
}

#topbar
{
	background-color: lightskyblue; /* 87cefa */
	color: white;
	height: 30px;
	align-items: center;
	display: flex;
	justify-content: center;
	width: 901px;
	float: left;
}

#flag_pl 
{
	background-color: lightskyblue;
	width: 33px;
	height: 30px;
	float: left;
	text-align: center;
	float: left;
	cursor: pointer;
	border-radius: 1px;
	padding: 7px;
	
	display: block; 
	text-decoration: none; 
	box-sizing: border-box;
}

#flag_gb 
{
	background-color: lightskyblue;
	width: 33px;
	height: 30px;
	float: left;
	text-align: center;
	float: left;
	cursor: pointer;
	border-radius: 1px;
	padding: 7px;
	
	display: block; 
	text-decoration: none; 
	box-sizing: border-box;
}

#flag_es
{
	background-color: lightskyblue;
	width: 33px;
	height: 30px;
	float: left;
	text-align: center;
	float: left;
	cursor: pointer;
	border-radius: 1px;
	padding: 7px;
	
	display: block; 
	text-decoration: none; 
	box-sizing: border-box;
}

#nav
{
	float: left;
	background-color: dodgerblue;
	font-size: 15px;
	width: 160px;
	min-height: 853px;
	padding: 10px;
}

/* display, text-decoration i box-sizing po to, aby z całego diva zrobić link */
.tile-left
{
	/* kolor jest aquamarine, ale zapisałem go w zapisie 16-kowym, bo w ten sposób można łatwo obniżyć jego wartość o 1 lub dwa: #6eeec3 lub #5dddb2 co można wykorzystać w efekcie HOVER */
	background-color: #7fffD4;
	margin: 10px;
	height: 40px;
	padding: 5px;
	cursor: pointer;
	border-radius: 6px;
	
	display: block; /* sprawia, że cały kafelek zachowuje się jak link */
	text-decoration: none; /* likwiduje podkreślenie linka */
	box-sizing: border-box; /* chyba sprawia, że link przybiera rozmiar kafelka */
}

.tile-left:hover
{
	background-color:#5dddb2;
}


#content
{
	background-color: snow;
    float: left;
	padding: 20px;
	width: 680px;
    height: 833px;
	text-align: justify;
}

#list
{
	width: 500px;
	border: 2px solid grey;
}

p.pborder
{
    border-style: groove; /* dotted, dashed, solid, double, groove,  ridge */
    border-width: 2px; /* or thin, medium, thick; or border-width: 5px 2px 2px 5px; /* top, right, bottom left */
    border-color: lightskyblue;
    border-radius: 3px;
    padding: 4px;
}

#clock
{
	float: left;
	width: 80px;
	background-color: aquamarine;
	padding: 10px;
	text-align: center;
}
#ad
{
	float: left;
	width: 80px;
	min-height: 800px;
	padding: 10px;
	background-color: dodgerblue;
}

.tile-right
{
	background-color: deepskyblue;
	height: 70px;
	margin: 5px;
	margin-bottom: 10px;
	cursor: pointer;
	border-radius: 6px;
	display: block;
	text-decoration: none;
	box-sizing: border-box;
}

#footer
{
	clear: both;
	background-color: lightslategray;
	color: white;
	text-align: center;
	padding: 20px;
}	

/* różne linki - nieodwiedzony, odwiedzony i najechany */
a:link
{
	color: black;
}

a:visited
{
	color: black;
}

a:hover
{
	color: black;
}
