/*
selectors:
* (dla całej zawartości html)
body (dla całej sekcji body strony)
p, h1-h6 (tylko dla paragrafów i/lub nagłówków)
# (dla ID danego elementu, id="text")
. (dla klasy danych elementów, class="group")
p.group (tylko dla paragrafów z klasy "group")
*/

body
{
	background-color: snow;
	font-family: 'Josefin Sans', sans-serif;
	color: black;
}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#logo
{
	background-color: lightslategray;
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 15px;
	letter-spacing: 2px;
	font-weight: 900;
}

#topbar
{
	background-color: lightskyblue;
	color: white;
	height: 30px;
	align-items: center;
	display: flex;
	justify-content: center;
	width: 900px;
	float: left;
}

#flag_pl 
{
	background-color: lightskyblue;
	width: 33px;
	height: 30px;
	float: left;
	text-align: center;
	float: left;
	cursor: pointer;
	border-radius: 1px;
	padding: 7px;
	
	display: block; 
	text-decoration: none; 
	box-sizing: border-box;
}

#flag_gb 
{
	background-color: lightskyblue;
	width: 33px;
	height: 30px;
	float: left;
	text-align: center;
	float: left;
	cursor: pointer;
	border-radius: 1px;
	padding: 7px;
	
	display: block; 
	text-decoration: none; 
	box-sizing: border-box;
}

#flag_es
{
	background-color: lightskyblue;
	width: 33px;
	height: 30px;
	float: left;
	text-align: center;
	float: left;
	cursor: pointer;
	border-radius: 1px;
	padding: 7px;
	
	display: block; 
	text-decoration: none; 
	box-sizing: border-box;
}

#nav
{
	float: left;
	background-color: dodgerblue;
	font-size: 15px;
	width: 160px;
	min-height: 852px;
	padding: 10px;
}

/* display, text-decoration i box-sizing po to, aby z całego diva zrobić link */
.tile-left
{
	/* kolor jest aquamarine, ale zapisałem go w zapisie 16-kowym, bo w ten sposób można łatwo obniżyć jego wartość o 1 lub dwa: #6eeec3 lub #5dddb2 co można wykorzystać w efekcie HOVER */
	background-color: #7fffD4;
	margin: 10px;
	height: 40px;
	padding: 5px;
	cursor: pointer;
	border-radius: 6px;
	
	display: block; /* sprawia, że cały kafelek zachowuje się jak link */
	text-decoration: none; /* likwiduje podkreślenie linka */
	box-sizing: border-box; /* chyba sprawia, że link przybiera rozmiar kafelka */
}

.tile-left:hover
{
	background-color:#5dddb2;
}


#content
{
	float: left;
	padding: 20px;
	width: 680px;
	text-align: justify;
}

#clock
{
	float: left;
	width: 80px;
	background-color: aquamarine;
	padding: 10px;
	text-align: center;
}
#ad
{
	float: left;
	width: 80px;
	min-height: 800px;
	padding: 10px;
	background-color: dodgerblue;
}

.tile-right
{
	background-color: deepskyblue;
	height: 70px;
	margin: 5px;
	margin-bottom: 10px;
	cursor: pointer;
	border-radius: 6px;
	display: block;
	text-decoration: none;
	box-sizing: border-box;
}

#footer
{
	clear: both;
	background-color: lightslategray;
	color: white;
	text-align: center;
	padding: 20px;
}	

/* różne linki - nieodwiedzony, odwiedzony i najechany */
a:link
{
	color: black;
}

a:visited
{
	color: black;
}

a:hover
{
	color: black;
}
