html {width:100%;height:100%;}
body {
	background-color: #004A8B;
	font-size: 65%;
}
h1 {
  font-size: 1.7em;
}
h2 {
	font-size: 1.2em;
	line-height: 1.4em;
	font-weight: normal;
	font-variant: normal;
}
h3 {
	font-size: 1.1em;
	line-height: 1.2em;
	font-weight: normal;
	font-variant: normal;
}
p {
  font-size: 1.2em;
}
@media (min-width: 1100px) {

.container {width:1050px;}

}

@media (max-width: 1100px) and (min-width: 1000px) {

.container {width:950px;}

}

@media (max-width: 1000px) and (min-width: 800px) {

.container {width:750px;}

}

@media (max-width: 800px) and (min-width: 500px) {

.container {width:450px;}

}

@media (max-width: 500px) {

.container {width:300px;}
}

#footer {
	font-size: 10vw;
	width: 100%;
}

.container {
	border: 5px solid #FFFFFF;
	display: block;
	background-size: cover;
	background-position: center;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-left: 0px;
}
#tlo {
    background-color: #FFFFFF;
	height: 500px;
	width: auto;
	margin: auto;
}
#footer {
	margin: auto;
	height: auto;
	width: auto;
	padding-top: 0.5%;
	padding-left: 5%;
	padding-bottom: 1%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
	background-color: #004A8B;
}
#obrazek {
	width: 100%;
	border-top-width: 5px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	border-right-style: 0;
	border-bottom-style: 0;
	border-left-style: 0;
	display: block;
}
#header {
	height: auto;
	width: auto;
	display: block;
	background-color: #004A8B;
}

#menu {
	height: 40px;
	width: 100%;
	background-color: #FFFFFF;
	padding-top: 1%;
}

#os {
	height: 60px;
	width: 100%;
	background-color: #FFFFFF;
}
#sidebar_l {
	height: 200px;
	width: 40%;
	border: thin solid #ACACAC;
	float: left;
	margin-left: 3%;
	background-color: #F5F5F5;
	display: inline-table;
	padding: 1%;
}
#sidebar_l:hover {
opacity: 0.70;
filter: alpha(opacity=70);
}
#sidebar_r {
	float: right;
	height: 200px;
	width: 40%;
	border: thin solid #ACACAC;
	margin-right: 3%;
	background-color: #F5F5F5;
	display: inline-table;
	padding: 1%;
}
#sidebar_r:hover {
opacity: 0.70;
filter: alpha(opacity=70);
}

#lower {
	width: auto;
	background-color: #FFFFFF;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1%;
	padding-top: 1%;
	height: 50px;
}
#menu_r {
	float: right;
	height: 38px;
	width: 35%;
	padding-left: 0%;
}
#lower_img_l {
	height: auto;
	width: 30%;
	float: left;
}
#lower_img_c {
	height: auto;
	width: 20%;
	margin-left: 30%;
	padding-right: 0%;
	background-position: center;
	display: inline;
	border: thin solid #BBBBBB;
}
#lower_img_r {
	float: right;
	height: auto;
	width: 30%;
}
h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: normal;
	font-variant: normal;
}
.btn {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	font-size: 1em;
	padding: .375rem .75rem;
	border: 1px solid transparent;
	border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	background-color: #004A8B;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
	width: 98%;
	margin: 1%;
}
.btn:hover {
background: silver;
}
ul, ul li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul li {
	float: left;
	margin: 1px;
	}
ul {
float: left;
width: 100%;
list-style: none;
}
