@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

body {
    /* background image from: https://www.toptal.com/designers/subtlepatterns/ */
    /* background-image: url("img/body_background.png"); */
    /*alternatywa: background-color: #value*/
    /* background-repeat: repeat; */
    /* no-repeat; repeat-x; repeat-y */
    /* background-attachment: fixed; */
    /* scroll */
    padding-top: 60px;
    overflow-x:hidden; /* to remove bottom scroll bar */
    margin: 0 !important;
    /* zeruje defaultowy margin przeglądarki */
    font-family: 'Josefin Sans', sans-serif; /* nunito albo Open Sans*/
    font-size: 17px;
    /*color: #efefef;*/
}

/* quotation */
.bg-myQuotationColor
{
    background-color: #c0d06f !important; 
}

main {
    /* margin-left: auto; margin-right: auto; width: 1100px;       padding: 0 - not necessary because of bootstrap */
    text-align: center;
}

/* responsive background-image for every subpage */
.masthead {
    background-size: cover;
    min-height: 70vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

/* features added to masthead (text, opacity...) */
.color-overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
}

            /* in the showcase */
            h1 
            {
                font-size: 4rem;
                color: #C0D06F
            }

            /* elsewhere */
            h1.regular {
                font-size: 40px;
                font-weight: 400;
                color: #c0d06f;   
                margin: 15px;
            }

            /* in the showcase */
            p
            {
                font-size: 30px;
                color: white;

            }

            /* elsewhere */
            p.regular
            {
                font-size: 16px;
                color: black;
            }

@media (min-width: 50px) and (max-width: 575px) {
    .masthead {
        min-height: 22vh;
    }
    h1 {
        font-size: calc(1.525rem + 3.3vw);
    }
    p {
        font-size: calc(0.525rem + 3.3vw);
    }
    h1.regular {
        font-size: 25px;
    }
    p.regular {
        font-size: 15px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .masthead {
        min-height: 35vh;
    }
    h1 {
        font-size: calc(1.525rem + 3.3vw);
    }
    p {
        font-size: calc(0.525rem + 3.3vw);
    }
    h1.regular {
        font-size: 25px;
    }
    p.regular {
        font-size: 15px;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .masthead {
        min-height: 50vh;
    }
    h1 {
        font-size: calc(1.525rem + 3.3vw);
    }
    p {
        font-size: calc(0.525rem + 3.3vw);
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .masthead {
        min-height: 55vh;
    }
    h1 {
        font-size: calc(1.525rem + 3.3vw);
    }
    p {
        font-size: calc(0.525rem + 3.3vw);
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {
    .masthead {
        min-height: 60vh;
    }
    h1 {
        font-size: calc(1.525rem + 3.3vw);
    }
    p {
        font-size: calc(0.525rem + 3.3vw);
    }
}

@media (min-width: 1401px) and (max-width: 1800px) {
    .masthead {
        min-height: 65vh;
    }
    h1 {
        font-size: calc(1.525rem + 3.3vw);
    }
    p {
        font-size: calc(0.525rem + 3.3vw);
    }
}

/* do opisów w skillach */
.myTextJustify
{
    text-align: justify;
    font-size: 16px;
}

/* do opisów w skillach */
@media (max-width: 575px)
{
    .myTextJustify
    {
        margin: 40px 20px;
        text-align: left;
        font-size: 15px;
    }
}

/* PHOTO SECTION */

.leisurePhotos {
    /* margin-left: auto; margin-right: auto; width: 1100px; padding: 0; not necessary because of bootstrap */
    text-align: center;
}

.leisurePhotos img

/* można też użyć class="img-fluid" wewnątrz <img> w html */
    {
    max-width: 100%;
    height: auto;
}

.leisurePhotos p {
    margin-bottom: 30px;
}

.leisurePhotos figcaption {
    margin-top: 8px;
    text-align: center;
}

/* NAVBAR SECTION */

.bg-myNavColor
{
    background-color: #1e90ff !important; /* dodgerblue */
}

.dropdown-menu
{
    background-color: snow;
}

/* hover ma rozwijac dropdown-menu, ktore defaultowo ma nadany display:none */
/* niestety submenu po kliknięciu pozostaje rozwinięte */
/* 
.navbar-nav li:hover > .dropdown-menu 
{
    display: block;
}
*/

/* chyba niepotrzebne, wypróbować bez tego, bo nie jestem pewien */
.navbar
{
    min-height: 57px;
}

/* --- ACCORDION SECTION --- */
/*
.accordion (for general background)
{
    background-color: PapayaWhip;
}
*/

.accordion-button /* style of closed button */
{
    background-color: #c0d06f !important;
    font-size: 20px !important;
}

.accordion-button:not(.collapsed) /* style of opened button */
{
    background-color: #c0d06f !important;
    font-size: 20px !important;
    color: black !important;
}

/* accordion button icon when closed */
.accordion-button.collapsed::after 
{
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    transform: scale(.9) !important;
}
/* accordion button icon when opened */
.accordion-button:not(.collapsed)::after 
{
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  
}

.accordion-item /* background for opened div */
{
    background-color: snow;
}

