@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

body {
    /* background image from: https://www.toptal.com/designers/subtlepatterns/ */
    /* background-image: url("img/body_background.png"); */
    /*alternatywa: background-color: #value*/
    /* background-repeat: repeat; */
    /* no-repeat; repeat-x; repeat-y */
    /* background-attachment: fixed; */
    /* scroll */
    padding-top: 60px;
    overflow-x:hidden; /* to remove bottom scroll bar */
    margin: 0 !important;
    /* zeruje defaultowy margin przeglądarki */
    font-family: 'Josefin Sans', sans-serif; /* nunito albo Open Sans*/
    font-size: 17px;
    /*color: #efefef;*/
    text-align: center;
}

/* quotation */
.bg-myQuotationColor
{
    background-color: #c0d06f !important; 
}

main 
{         
    text-align: center;
}

/* responsive background-image for every subpage */
.masthead {
    background-size: cover;
    min-height: 70vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

/* features added to masthead (text, opacity...) */
.color-overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
}

/* in the showcase */
h1 
{
    font-size: 4rem;
    color: #C0D06F;
}

/* elsewhere */
h1.regular {
    font-size: 40px;
    font-weight: 400;
    color: #b0c05d; /* było: #C0D06F */ 
    margin: 15px;
}

/* in the showcase */
p
{
    font-size: 30px;
    color: white;

}

/* elsewhere */
p.regular
{
    font-size: 16px;
    color: black;
}

@media (min-width: 50px) and (max-width: 575px) {
    footer {
        font-size: 14px;
    }
    .masthead {
        min-height: 22vh;
    }
    h1 {
        font-size: calc(1.525rem + 3.3vw);
    }
    p {
        font-size: calc(0.525rem + 3.3vw);
    }
    h1.regular {
        font-size: 25px;
    }
    p.regular {
        font-size: 15px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .masthead {
        min-height: 35vh;
    }
    h1 {
        font-size: calc(1.525rem + 3.3vw);
    }
    p {
        font-size: calc(0.525rem + 3.3vw);
    }
    h1.regular {
        font-size: 25px;
    }
    p.regular {
        font-size: 15px;
    }
}

@media (min-width: 769px) and (max-width: 991px) {
    .masthead {
        min-height: 50vh;
    }
    h1 {
        font-size: calc(1.525rem + 3.3vw);
    }
    p {
        font-size: calc(0.525rem + 3.3vw);
    }
        h1.regular {
        font-size: 25px;
    }
    p.regular {
        font-size: 15px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .masthead {
        min-height: 55vh;
    }
    h1 {
        font-size: calc(1.525rem + 3.3vw);
    }
    p {
        font-size: calc(0.525rem + 3.3vw);
    }
}

@media (min-width: 1201px) and (max-width: 1400px) {
    .masthead {
        min-height: 60vh;
    }
    h1 {
        font-size: calc(1.525rem + 3.3vw);
    }
    p {
        font-size: calc(0.525rem + 3.3vw);
    }
}

@media (min-width: 1401px) and (max-width: 1800px) {
    .masthead {
        min-height: 65vh;
    }
    h1 {
        font-size: calc(1.525rem + 3.3vw);
    }
    p {
        font-size: calc(0.525rem + 3.3vw);
    }
}

/* do opisów w skillach */
.myTextJustify
{
    text-align: justify;
    font-size: 16px;
}

/* do opisów w skillach */
@media (max-width: 575px)
{
    .myTextJustify
    {
        margin: 40px 20px;
        text-align: left;
        font-size: 15px;
    }
}

/* PHOTO SECTION */

.leisurePhotos {
    /* margin-left: auto; margin-right: auto; width: 1100px; padding: 0; not necessary because of bootstrap */
    text-align: center;
}

.leisurePhotos img

/* można też użyć class="img-fluid" wewnątrz <img> w html */
{
    max-width: 100%;
    height: auto;
}

.leisurePhotos p {
    margin-bottom: 30px;
}

.leisurePhotos figcaption {
    margin-top: 8px;
    text-align: center;
}

/* NAVBAR SECTION */

/* for navbar & footer */
.bg-myNavColor
{
    background-color: #0284c7!important; /* dodgerblue */
}

.dropdown-menu
{
    background-color: snow;
}

/* hover ma rozwijac dropdown-menu, ktore defaultowo ma nadany display:none */
/* niestety submenu po kliknięciu pozostaje rozwinięte */
/* 
.navbar-nav li:hover > .dropdown-menu 
{
    display: block;
}
*/

/* chyba niepotrzebne, wypróbować bez tego, bo nie jestem pewien */
.navbar
{
    min-height: 57px;
    max-height: 66px;
}

/* czcionka list itemów w głównej nawigacji navbar */
.mainMenu
{
    font-size: 20px;
/*    text-align: left!important;*/
    background: #0284c7;
    margin-left: -21px;
}

/* czcionka dla sub-list-itemów w głównej nawigacji navbar */
#dropMenu
{
    font-size: 18px;
    padding: 8px;
    text-align: center;
}

/* elementy listy głównej */
.nav-item
{
    padding: 0px 2px 0 2px;
}
.nav-item:hover
{
    border-bottom: 0 dotted white;
}

/* --- ACCORDION JAVA SCRIPT SECTION --- */
/*
.accordion (for general background)
{
    background-color: 	gainsboro;
}
*/

.accordion-button /* style of closed button */
{
    background-color: #c0d06f !important;
    font-size: 20px !important;
}

.accordion-button:not(.collapsed) /* style of opened button */
{
    background-color: #c0d06f !important;
    font-size: 20px !important;
    color: black !important;
}

/* accordion button icon when closed */
.accordion-button.collapsed::after 
{
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    transform: scale(.9) !important;
}
/* accordion button icon when opened */
.accordion-button:not(.collapsed)::after 
{
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  
}

.accordion-item /* background for opened div */
{
    background-color: #fff9bb; /* palegoldenrod */
}

/* --- ACCORDION TESTING SECTION --- */
/*
.accordion (for general background)
{
    background-color: 	gainsboro;
}
*/

.accordionTestingButton /* style of closed button */
{
    background-color: lightskyblue !important;
    font-size: 20px !important;
}

.accordionTestingButton:not(.collapsed) /* style of opened button */
{
    background-color: lightskyblue !important;
    font-size: 20px !important;
    color: black !important;
}

/* accordion button icon when closed */
.accordionTestingButton.collapsed::after 
{
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    transform: scale(.9) !important;
}
/* accordion button icon when opened */
.accordionTestingButton:not(.collapsed)::after 
{
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  
}

.accordionTestingItem /* background for opened div */
{
    background-color: #E0FFFF; /* palegoldenrod */
}

.accordionTestingFieldset
{
    background-color: lightskyblue;
}

@media (min-width: 50px) and (max-width: 575px) {
    p.sourceCode
    {
        font-size: 11px;
    }
}
@media (min-width: 575px) and (max-width: 991px) {
    p.sourceCode
    {
        font-size: 14px;
    }
}

/* ---- ACCORDION HARDSKILLS SECTION ----- */
/*
.accordion (for general background)
{
    background-color: 	gainsboro;
}
*/
.hardskillsList
{
    list-style: none;
    text-align: left;
}

/* icona w accordion-body dla hardskilla */
.hardskillIcon
{
    width: 55px;
}

/* zmniejszenie paddingu na niskich rozdzielczościach */
@media (min-width: 1px) and (max-width: 390px) {
    .accordion-body
    {
        padding: 0;
        margin: 0;
    }
}

.accordionHardskillsButton /* style of closed button */
{
    background-color: silver !important;
    font-size: 20px !important;
}

.accordionHardskillsButton:not(.collapsed) /* style of opened button */
{
    background-color: silver !important;
    font-size: 20px !important;
    color: black !important;
}

/* accordion button icon when closed */
.accordionHardskillsButton.collapsed::after 
{
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
    transform: scale(.9) !important;
}
/* accordion button icon when opened */
.accordionHardskillsButton:not(.collapsed)::after 
{
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
  
}

.accordionHardskillsItem /* background for opened div */
{
    background-color: #F0F0F0; /* palegoldenrod */
}

/* --- LEGALITY CHECKER SECTION -- */
/* zwykły button */
.bg-button
{
    background: lightgreen;
    font-size: 24px;
    border: 3px solid #fff9bb;
    border-radius: 12px;
}
    
/* zwykły button active */
.bg-button:active
{
    background: limegreen!important;
}   

/* zwykły button hover */
.bg-button:hover
{
    background: limegreen;
    border: 3px solid limegreen;
}

/* fieldset */
fieldset
{
background-color: khaki; 
}

/* nazwy krajów w zestawie radio buttonów LegalityChecker */
#radioLabel1, #radioLabel2, #radioLabel3, #radioLabel4, #radioLabel5, #radioLabel6 
{
    font-size: 21px;
}

/* tabela oraz jej zmniejszenie dla urządzenia mobilnego */
table
{
    font-size:21px;
    text-align: left;
}

@media (min-width: 50px) and (max-width: 575px) {
    table
    {
        font-size: 16px;
    }
}

/* kolory łapek bootstrapowych */
.icon-green{
    color: green;
}
.icon-red{
    color: red;
}

/* hover na wiersze tabeli */
table tr:hover td
{
    background-color: orange; 
}

/* ------------------- index tiles section --------------- */

/* kafelek menu */
.menuTile
{
    width: 180px; /*or any width you like, but it must be defined*/
    height: 180px; /*or any height you like */
    background-color: palegoldenrod; /* było #dcfce7; */
    background-size: cover /*very important as it covers the element within the defined width x height*/;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 8px;
    display: block;
}

/* stylizacja poszczególnych dzieci menuTile */
.menuTile a
{
    display: block;
    width: 180px;
    height: 180px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    padding-top: 15px;
}

.menuTile a:hover
{
    background-color: khaki; /* było #cbebd6; */ 
    cursor: pointer;
    transform: scale(1.03);
    border-radius: 8px;
    border: 1px solid;
}

.menuTile h3
{
   padding-top: 1px; 
   font-size: 25px;
}
.menuTile p
{
   font-size: 15px;
   color: black;
   padding-left: 5px;
   padding-right: 5px;
}
.menuTile i
{
    color: black;
    font-size: 35px;
}

/* opisy Description, Explanation, Motivation, Activation */
.descriptionHome
{
    padding-left: 40px;
    padding-right: 40px;
}

/* gdybyśmy chcieli zróżnicować menuTiles i dodać osobne kolory albo obrazki tła */
/* 
.tile1
{
    background-image: url('/img/test.jpg');
}
.tile2
{
    background-image: url('/img/test.jpg');
}
.tile3
{
    background-image: url('/img/test.jpg');
}
.tile4
{
    background-image: url('/img/test.jpg');
}
/*

/* gdybyśmy chcieli dołożyć przycisk read more */
/* <a href="">READ MORE</a> */
/*
.tileMenu a
{
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}
/*
.tileMenu:hover
{
    background-color: rgb(62,62,62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}
*/

/* ------- resize of index tiles section-------- */

.menuTile a:hover
{
    background-color: khaki; /* było #cbebd6; */ 
    cursor: pointer;
    transform: scale(1.03);
    border-radius: 8px;
    border: 1px solid;
}

@media (min-width: 50px) and (max-width: 575px) {
    .menuTile
    {
    width: 130px; /*or any width you like, but it must be defined*/
    height: 130px; /*or any height you like */
    }
    .menuTile a
    {
    width: 130px;
    height: 130px;
    }
    .menuTile h3
    { 
       font-size: 15px;
    }
    .menuTile p
    {
       font-size: 10px;
    }
    .menuTile i
    {
        font-size: 22px;
    }
}

/* ------------ footer ------------------- */
footer
{
    color: white;
}

}

/* ------------ soft skills section --------*/
/* cała sekcja, żeby był flexbox */
/* musi to zostać, bo inaczej mi kolor znika... */
.softSkillSection
{
    margin: 0px;
}

/* div opisowy */
.softSkillsDes
{
    background-color: snow;
    border: 1px solid;
    border-radius: 15px;
    min-height: 300px;
}
/* div card */
.softSkillsCard
{
    background-color: snow;
    width: 190px;
    max-height: 300px;
    border-radius: 15px;
    border: 1px solid;
}
/* karta z obrazkiem */
.softSkillsImageDiv
{
    height: 138px;
    margin-bottom: 10px;
    background-color: #C0D06F;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
/* obrazek */
.softSkillsImage
{
    height: 140px;
    border-radius: 70px;
    background-size: cover;
    height: 130px;
    margin-bottom: 15px;
    padding: 1px;   
}

.softSkillsCard h1
{
    margin-bottom: 1px;
}

.softSkillsCard h3
{
    font-size: 20px;
    color: #C0D06F;
}

.softSkillsCard p
{
    font-size: 12px;
    color: black;
    margin-bottom: 2px;
}

@media (min-width: 1px) and (max-width: 300px) {
    .softSkillsDes p
    {
        font-size: 10px;
    }
    .softSkillsDes h1
    {
        font-size: 12px;
    }
    .softSkillsDes h5
    {
        font-size: 10px;
    }
}

@media (min-width: 301px) and (max-width: 991px) {
    .softSkillsDes p
    {
        font-size: 14px;
    }
    .softSkillsDes h1
    {
        font-size: 20px;
    }
      .softSkillsDes h5
    {
        font-size: 16px;
    }
}

/* empty div - na kreskę */
hr
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* -------------- TESTING SECTION --------------------------*/
@media (min-width: 1px) and (max-width: 300px) {
    .userStory h6
    {
        font-size: 10px;
    }
}
@media (min-width: 301px) and (max-width: 991px) {
    .userStory h6
    {
        font-size: 16px;
    }
}

/* kod js w Cypress */
.automationTest
{
    text-align: left !important;
}

/* -------------- SERVER-SIDE SECTION --------------------------*/
@media (min-width: 1px) and (max-width: 300px) {
    .serverStep h6
    {
        font-size: 10px;
    }
}
@media (min-width: 301px) and (max-width: 991px) {
    .serverStep h6
    {
        font-size: 16px;
    }
}

/* -------------CAROUSEL SECTION ------*/
/* only for radio button in birdRecognizer */
.divBirdRadioButtons input[type="radio"]{
  margin: 0 0 20px 0;
}

/* wrapper for a radiobutton + label to align properly */
.divBirdRadioButton
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* wrapper for all radiobuttons + labels to align properly */
.divBirdRadioButtons
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* carousel-items and carousel-container */
.carousel-item
{
    height: 42rem;
    background: khaki;
    padding-top: 0;
    
}

.carousel-container
{
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 50px;
}

@media (min-width: 1px) and (max-width: 991px) {
    .carousel-item
    {
        height: 34rem;
        font-size: 12px;
    }
    .carousel-item h5
    {
        font-size: 15px;
    }
}

/* -------------- EXPERIENCE SECTION ---------------- */

