
.icon-phone:before { content: '\e802'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-css3:before { content: '\f13c'; } /* '' */
