
.icon-mail:before { content: '\e804'; } /* '' */
.icon-ok:before { content: '\e80e'; } /* '' */
.icon-cancel:before { content: '\e80f'; } /* '' */
.icon-home:before { content: '\e811'; } /* '' */
.icon-phone:before { content: '\e825'; } /* '' */
.icon-github-circled-alt2:before { content: '\f056'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-css3:before { content: '\f13c'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-linkedin-1:before { content: '\f31a'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */
