.icon-phone:before { content: '\e825'; font-size: 48px; margin: 12px; text-align: center; } /* '' */

.icon-github-circled-alt2:before { content: '\f056'; font-size: 48px; margin: 12px; text-align: center; color: white; } /* '' */

.icon-mail-alt:before { content: '\f0e0'; font-size: 48px; margin: 12px; text-align: center; } /* '' */

.icon-whatsapp:before { content: '\f232'; font-size: 48px; margin: 12px; text-align: center; } /* '' */
.
.icon-linkedin-rect:before { content: '\f31b'; font-size: 48px; margin: 12px; text-align: center; } /* '' */
